*{
    padding: 0;
    margin: 0;
 }
:root {
    --cor0: #FAF7D7;
    --cor1: #BEEEFA;
    --cor2: #ADAA84;
    --cor3: #FABED3;
    --cor4: #AD8C98;
}
body {
    padding: 0;
    margin: 0;
    background: white;
    box-sizing: border-box;
    font: normal 14pt 'Poppins', sans-serif;
}
header, footer {
    text-align: center;
    font: normal 16pt 'Baloo Thambi 2', cursive;
}
.sect1 {
    width: 90%;
    padding: 2%;
    margin: 3%; /*Porcentagens nesse modelo deixa o site responsivo!*/
    border-radius: 12px;
    background: var(--cor1);
}
.art1, .art2 {
    background: var(--cor0);
    width: 90%;
    margin: 2%;
    padding: 3%;
    border-radius: 20px;
}
#div {
    margin: 20px 0px 30px 0px;
}
